# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment files
.env
*.env

# Virtual environments
venv/
.env/
*.egg-info/

# System files
.DS_Store
Thumbs.db
